/* 
* @Author: austinlee
* @Date:   2015-07-18 13:51:15
* @Last Modified by:   austinlee
* @Last Modified time: 2015-07-18 17:55:46
*/

/*************Phone*************/
body {
	background-color: RGB(255, 242, 218);
}

a {
	color: RGB(183, 197, 225);
	font-family: Arial, Helvetica, sans-serif;
}

p {
	color: RGB(141, 149, 166);
	text-align: justify;
}

h1 {
	color: RGB(127, 135, 152);
	font-family: Tahoma, Geneva, sans-serif;
	text-shadow: 1px 1px 1px black;
	text-align: center;
}

h2 {
	color: RGB(127, 135, 152);
	font-family: Tahoma, Geneva, sans-serif;
}

img {
	width: 100%;
	max-width: 350px;
}

#form {
	margin: auto; 
	max-width: 300px;
	background-color: RGB(250, 236, 207);
	border: 2px solid RGB(228, 213, 186);
	padding: 2px;
}

#form p {
	color: black;
	font-size: 25px;
}

#button {
	text-align: center;
}

#navContent {
	max-width: 210px;
	margin: auto;
}

#navContent ul {
  list-style-type: none;
  padding: 0;
}
#navContent a:link, a:visited {
  display: block;
  width:200px;
  background-color:RGB(183, 197, 225);
  color: RGB(255, 242, 218);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
#navContent a:hover, a:active {
  background-color:RGB(164, 173, 191);
}

#desktop-br {
	display: none;
}

#tagline-link {
	font-size: 40px;
	text-align: center;
}

#tagline-link a:link, a:visited  {
	color: RGB(127, 135, 152);
}

#tagline-link a:hover {
	color: black;
}

#logo {
	display: none;
}

#tagline {
	display: none;
}

#map {
	width: 100%
}

#footerContent a {
	color: RGB(127, 135, 152);
}


/*************Tablet*************/
@media screen and (min-width: 23em) {
	img {
		max-width: 1024px;
	}

	#mainContent {
		max-width: 40em;
		margin: auto;
	}

	#logo {
		display: inherit;
		width: 50%;
		max-width: 200px;
	}

	#tagline {
		font-size: 30px;
		text-align: center;
		display: inherit;
	}

	#tagline-link {
		display: none;
	}

	#map {
		width: 100%;
	}

	#bike-pic {
		max-width: 550px;
	}

	#runners-pic {
		max-width: 625px;
	}

	#swimmers-pic {
		max-width: 650px;
	}

	#alcatraz-swim-pic {
		max-width: 550px;
	}

	#john-pic {
		max-width: 400px;
	}

	#jane-pic {
		max-width: 400px;
	}

	#color-pic {
		border: 0.5px solid black;
		max-width: 250px;
	}

	#phone-pic {
		max-width: 250px;
	}

	#tablet-pic {
		max-width: 500px;
	}

	#form {
		width: 75%;
		max-width: 500px;
	}

}



/*************Desktop*************/
@media screen and (min-width: 64em) {
	img {
		max-width: 1024px;
	}

	#navContent {
		padding: .05px;
		max-width: 100%;
		text-align: center;
		background-color: RGB(254, 236, 203);
		border: 2px solid RGB(228, 213, 186);
	}

	#navContent li {
		display: inline-block;
	}

	#mainContent {
		max-width: 60em;
		margin: auto;
	}

}